.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    display: block
}

.mantine-b3lwg1 {
    min-height: 100vh;
}

.mantine-7377r4 {
    min-height: 100vh;
}

.mantine-3rguqu {
    margin: auto;
}

.mantine-1jj4937 {
    padding: 0;
}

.mantine-ncrsdl {
    width: 100%;
}

.mantine-1oy2cpa {
    margin-top: 0;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.mantine-1hpydqy {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.mantine-eolpbp {
    margin-top: 11px;
}

.mantine-1wusqbv {
    margin-top: 11px;
}

.mantine-ta0ll7 {
    margin-bottom: 0;
}

@media(min-width: 280px) {
    @media(max-width: 768px) {
        .mantine-16pqg5q {
            padding-left: 76px;
        }
        .mantine-xnet3h {
            padding-left: 76px;
        }
        .mantine-ncrsdl {
            max-width: fit-content;
        }
        .mantine-1untuka {
            width: 100%;
        }
    }
}